<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<h1>Posts:</h1>
<ul>
    <% if(posts.length) { %>
        <% posts.forEach( ({id, title, createdAt, text, author}) => { %>
            <li>
                <article>
                    <h2>
                        <a href="/posts/<%= id %>"><%= title %></a>
                    </h2>
                    <div class="button-container">
                        <button data-id="<%= id %>"><i data-id="<%= id %>" class="fa-solid fa-trash"></i></button>
                    </div>
                    <p><%= text %></p>
                    <div class="info">
                        <span><%= createdAt.toLocaleDateString() %></span>
                        <span><%= author %></span>
                    </div>
                </article>
            </li>
        <% }) %>
    <% } %>
    <li>

    </li>
</ul>
<script>
    document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null;
      if(id) {
        fetch(`/posts/${id}`, {
          method: 'DELETE',
        }).then(() => window.location.reload());
      }
    })
</script>
</body>
</html>